// Define variables for your color scheme

// For example:
$red: #F28482;
$blue: #0D6EFD;
$yellow: #F6BD60;
$orange: #FCA601;
$green: #84A59D;
$gray: #0E0000;
$light-gray: #E7E7E7;
$pink: #F5CAC3;
$purple: #4D46D5;
$white: #ffffff;
$black: #000000;
