.form-control {
  background-color: whitesmoke;
  text-align: end;
}

.explanations {
  font-size: 25px;
  background-color: $red;
  opacity: 0.7;
  border-radius: 8px;
  text-align: justify;
  padding: 5px;
  color: black;
}

.column {
  font-family: 'Roboto', sans-serif;
  color: #e8e8e8 !important;
  text-align: center;
  background-color: rgb(50, 78, 106) !important;
  border: solid;
  border-bottom: solid !important;
  border-top: solid !important;
}

.line{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #e8e8e8 !important;
  border: solid;
  border-bottom: solid !important;
  border-top: solid !important;
}

td {
  background-color: #e8e8e8 !important;
  text-align: center;
}
