.card-body{
  background-color: white;
  overflow: hidden;
}

.card-caf{
  display: flex;
  align-items: center;
  overflow: hidden;
}

.btn-profile {
  color: rgba(34, 117, 212, 0.712);
  margin-bottom: 10px;
}
