// Specific CSS for your home-page


/* Reset des marges et des paddings pour uniformiser l'affichage */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Style pour l'encart de description de la société */

.user-reviews {
  margin-top: 20px;
}

.user-review {
  position: relative;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #F5F5F5;
  border-radius: 8px;
}

.quote {
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5em; /* Ajustez la taille des guillemets ici */
  color: #DB7C26; /* Changez la couleur des guillemets ici */
}

.review-text {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}

.user-review footer {
  margin-top: 10px;
}

.user-reviews h3{
  margin-top: 20px;
  text-align: center;
}
