// Specific CSS for your home-page


/* Styles pour la section Pourquoi choisir Apprenticlic */
.company-description {
  background-color: $light-gray;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.company-description h3 {
font-size: 24px;
text-align: center;
}

.company-description p {
  font-size: 20px;
  margin-bottom: 0rem;
}

.company-subject {
  padding: 40px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.company-subject h3 {
  font-size: 24px;
  text-align: center;
}

.company-subject p {
  font-size: 20px;
  margin-bottom: 0rem;
}

/* Styles pour la section Qu'en disent nos utilisateurs */

.review {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.users-reviews {
  padding: 40px;
  margin-top: -70px;
  border-radius: 8px;
}

.users-reviews h3 {
  font-size: 24px;
  text-align: center;
}

.review-text {
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}

.review-text strong {
  font-weight: bold;
}

.name-review {
  color: $purple;
}

.title-description {
  position: relative;
}

.quote-right {
  position: absolute;
  top: -40px;
  left: -40px;
}

.quote-left {
  position: absolute;
  bottom: -20px;
  right: -40px;
  transform: rotate(180deg);
}
