<!-- Footer -->
<div class="footer" style="position: relative;background-image: url(https://res.cloudinary.com/dzqqjrcor/image/upload/v1701896148/Apprenticlic/img-footer2_yriomq.png);">
  <!-- Photo des trois fleurs -->
  <div style="position: absolute; bottom: 0; right: 0;">
    <%= image_tag 'https://res.cloudinary.com/dzqqjrcor/image/upload/v1701939771/Apprenticlic/Group_70_1_od0da1.png'%>
  </div>
 <div class="footer-content">
    </div>
    <div class="footer-copyright" style="margin-left: 60px;">
      <p>&copy; 2023 Cours informatique en ligne</p>
    </div>
  </div>
