<div class="container king mt-4">
  <h1 class="text-primary text-uppercase mt-5">Ressources</h1>
  <p class="explanations"> C'est dans ce tableau que vous devez renseigner les différentes
    sources de revenus dont vous disposez sur les 3 derniers mois (fond blanc).
    Une fois rempli, cliquer alors sur "Quitter" pour revenir à la page de bienvenue
  </p>
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th scope="col" class="column">Ressources</th>
        <th scope="col" class="column">Mois 1</th>
        <th scope="col" class="column">Mois 2</th>
        <th scope="col" class="column">Mois 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="line">Salaires (y compris le montant perçu au titre du chômage partiel)</th>
        <td><input type="number" class="form-control-amount" placeholder="€"></td>
        <td><input type="number" class="form-control-amount" placeholder="€"></td>
        <td><input type="number" class="form-control-amount" placeholder="€"></td>
      </tr>
      <tr>
        <th scope="row" class="line">Revenus non salariés (chiffre d'affaires mensuel net)</th>
        <td><input type="number" class="form-control-amount" placeholder="€"></td>
        <td><input type="number" class="form-control-amount" placeholder="€"></td>
        <td><input type="number" class="form-control-amount" placeholder="€"></td>
      </tr>
      <tr>
        <th scope="row" class="line">Indemnités chômage</th>
        <td><input type="number" class="form-control-amount" placeholder="€"></td>
        <td><input type="number" class="form-control-amount" placeholder="€"></td>
        <td><input type="number" class="form-control-amount" placeholder="€"></td>
      </tr>
      <tr>
        <th scope="row" class="line">Pensions alimentaires</th>
        <td><input type="number" class="form-control-amount" placeholder="€"></td>
        <td><input type="number" class="form-control-amount" placeholder="€"></td>
        <td><input type="number" class="form-control-amount" placeholder="€"></td>
      </tr>
      <tr>
        <th scope="row" class="line">Aucune ressource perçue</th>
        <td><input type="checkbox" class="form-check-input"></td>
        <td><input type="checkbox" class="form-check-input"></td>
        <td><input type="checkbox" class="form-check-input"></td>
      </tr>
    </tbody>
  </table>
  <div class="text-end"><%= link_to "Quitter", faux_site_path, class: 'btn-caf' %></div>
</div>
