<h1 class="text-primary text-uppercase">Ressources</h1>
<h2>Mois 1</h2>
<h2>Mois 2</h2>
<h3> Mois 3</h2>

<ul>
  <li>Salaires</li>
  <li>Revenus non salariés</li>
  <li>Indemnités chômage</li>
  <li>Pensions alimentaires</li>
  <li>Autre ressource perçue</li>
</ul>

<%= link_to "Quitter", faux_site_path %>
