

<div class="container">
  <h1 class="text-primary text-uppercase">Ressources</h1>
  <p class="explanations"> C'est dans ce tableau que vous devez renseigner les différentes
    sources de revenus dont vous disposez sur les 3 derniers mois (fond blanc)
  </p>
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="column">Mois 1</th>
        <th scope="col" class="column">Mois 2</th>
        <th scope="col" class="column">Mois 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="line">Salaires (y compris le montant perçu au titre du chômage partiel) <i class="fas fa-info-circle"></i></th>
        <td><input type="number" class="form-control" placeholder="€" class="text-end"></td>
        <td><input type="number" class="form-control" placeholder="€"></td>
        <td><input type="number" class="form-control" placeholder="€"></td>
      </tr>
      <tr>
        <th scope="row" class="line">Revenus non salariés (chiffre d'affaires mensuel net) <i class="fas fa-info-circle"></i></th>
        <td><input type="number" class="form-control" placeholder="€"></td>
        <td><input type="number" class="form-control" placeholder="€"></td>
        <td><input type="number" class="form-control" placeholder="€"></td>
      </tr>
      <tr>
        <th scope="row" class="line">Indemnités chômage <i class="fas fa-info-circle"></i></th>
        <td><input type="number" class="form-control" placeholder="€"></td>
        <td><input type="number" class="form-control" placeholder="€"></td>
        <td><input type="number" class="form-control" placeholder="€"></td>
      </tr>
      <tr>
        <th scope="row" class="line">Pensions alimentaires <i class="fas fa-info-circle"></i></th>
        <td><input type="number" class="form-control" placeholder="€"></td>
        <td><input type="number" class="form-control" placeholder="€"></td>
        <td><input type="number" class="form-control" placeholder="€"></td>
      </tr>
      <tr>
        <th scope="row" class="line">Aucune ressource perçue <i class="fas fa-info-circle"></i></th>
        <td><input type="checkbox" class="form-check-input"></td>
        <td><input type="checkbox" class="form-check-input"></td>
        <td><input type="checkbox" class="form-check-input"></td>
      </tr>
    </tbody>
  </table>
  <div class="text-end"><%= link_to "Quitter", faux_site_path, class: 'btn-caf' %></div>
</div>
