<h1>Veillez renseigner les informations à modifier</h1>
<label for="content">Informations à modifier:</label>
<input type="text" id="text-details" class="text-details">

<%= link_to "Modifier", faux_site_mes_ressources_mon_profil_details_path %>
