<div class="container" style="margin-top: 7em;">
    <h1 class="title-caf text-uppercase">MON PROFIL</h1>
    <p class="explanations">Ici la CAF vous indique les procédures à suivre sur le remplissage de votre
      profil. C'est un simple message de prévention
      <em>Appuyez sur "Commencer" pour aller à la suite.</em>
  </div>

  <div class="container replique">
    <div class="encadre p-4">
        <h2>A savoir avant de commencer</h2>
        <p class="mb-3">Vous devez d'abord accepter ou modifier votre profil. Chaque changement de
          situation comprend 3 étapes à faire situées en 3 et 5 minutes chacune.
          Une fois validé, vous pouvez ensuite commencer votre déclaration de ressources trimestrielles <br> <br>
          Des bulles d'aide s'affichent pour vous expliquer les informations à saisir</p>
          <div style="text-align : right;">
              <%= link_to "Commencer", faux_site_mes_ressources_mon_profil_details_path, class: 'btn-caf' %>
          </div>
    </div>

  </div>
</div>
