<h1>A savoir avant de commencer</h1>

<p>Ici la CAF vous indique les procédures à suivre sur le remplissage de votre
  profil. C'est un simple message de prévention. Appuyez sur Commencer pour
  aller à la suite.
</p>
<p>Vous devez d'abord accepter ou modifier votre profil. Chaque changement de
  situation comprend 3 étapes à faire situées en 3 et 5 minutes chacune.
</p>

<p>Des bulles d'aide s'affichent pour vous expliquer les informations à saisir</p>

<button class="begin-button" type="button"><%= link_to "Commencer", faux_site_mes_ressources_mon_profil_details_path %></button>
