<h1>MON PROFIL</h1>

<p> C'est sur cette page que seront renseignés les différentes informations des
  encadrés. Pour les modifier, il faut appuyer sur le crayon bleu à droite des
  titres. Pour continuer (lorsque toutes les informations sont remplies)
  appuyez ensuite sur "Confirmer mon profil"
</p>
<h3>SITUATION FAMILIALE</h3>

<h3>SITUATION PROFESSIONNELLE</h3>

<h3>ENFANTS ET AUTRES PERSONNES</h3>

<h3>DECLARER UNE GROSSESSE</h3>

<h3>DECLARER UNE NAISSANCE</h3>

<h3>ADRESSE</h3>

<h3>ADRESSES MAIL ET TELEPHONES</h3>

<h3>COORDONNES BANCAIRES</h3>


<%= link_to "Confirmer mon profil", faux_site_mes_ressources_amont_path %>
