<p>Ici la CAF vous indique les procédures à suivre sur le remplissage de votre
  profil. C'est un simple message de prévention. Appuyez sur Commencer pour
  aller à la suite.
</p>

<div class="container">
  <h1 class="text-primary text-uppercase">MON PROFIL</h1>

  <div class="container">
    <div class="col-sm-12">
      <h2 style="margin-left: 7%">A savoir avant de commencer</h2>
      <p class="justify-content-center align-items-center">Vous devez d'abord accepter ou modifier votre profil. Chaque changement de
    situation comprend 3 étapes à faire situées en 3 et 5 minutes chacune.
      </p>
      <p class="justify-content-center align-items-center">Des bulles d'aide s'affichent pour vous expliquer les informations à saisir</p>
      <button class="btn begin-button" type="button"><%= link_to "Commencer", faux_site_mes_ressources_mon_profil_details_path %></button>
    </div>
  </div>
</div>
