<h1>A savoir avant de commencer</h1>

<p>Vous devez d'abord accepter ou modifier votre profil. Chaque changement de
  situation comprend 3 étapes à faire situées en 3 et 5 minutes chacune.
</p>

<p>Des bulles d'aide s'affichent pour vous expliquer les informations à saisir</p>
