<div class="container king">
  <div class="container">
    <h1 class="text-primary text-uppercase">MON PROFIL</h1>

    <p class="explanations"> C'est sur cette page que seront renseignés les différentes informations des
      encadrés. Pour les modifier, il faut appuyer sur le crayon bleu à droite des
      titres. Pour continuer appuyez ensuite sur "Confirmer mon profil"
    </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <div class="card-caf">
              <h5 class="card-title">SITUATION FAMILIALE</h5>
              <a href="#" class="btn btn-profile"><i class="fa-solid fa-pen"></i></a>
            </div>
            <p class="card-text">...</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="card-caf">
              <h5 class="card-title">SITUATION PROFESSIONNELLE</h5>
              <a href="#" class="btn btn-profile"><i class="fa-solid fa-pen"></i></a>
            </div>
            <p class="card-text">...</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card w-100 mb-3 mt-3">
      <div class="card-body">
        <div class="card-caf">
          <h5 class="card-title">ENFANTS ET AUTRES PERSONNES</h5>
          <a href="#" class="btn btn-profile"><i class="fa-solid fa-pen"></i></a>
        </div>
        <p class="card-text">...</p>
      </div>
    </div>

    <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <div class="card-caf">
            <h5 class="card-title">ADRESSE</h5>
            <a href="#" class="btn btn-profile"><i class="fa-solid fa-pen"></i></a>
          </div>
          <p class="card-text">...</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="card-caf">
            <h5 class="card-title">ADRESSE MAIL ET TELEPHONES</h5>
            <a href="#" class="btn btn-profile"><i class="fa-solid fa-pen"></i></a>
          </div>
          <p class="card-text">...</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card w-100 mb-3 mt-3">
    <div class="card-body">
      <div class="card-caf">
        <h5 class="card-title">COORDONNES BANCAIRES</h5>
        <a href="#" class="btn btn-profile"><i class="fa-solid fa-pen"></i></a>
      </div>
      <p class="card-text">...</p>
    </div>
  </div>
    <div data-controller="click-on-button">
      <div class="text-end"> <%= link_to "Confirmer mon profil", faux_site_mes_ressources_amont_path, class: 'btn-caf', data:{action:'mouseenter->click-on-button#show mouseleave->click-on-button#hide'} %></div>
      <p data-click-on-button-target="clickableElement" class="modal-redirect d-none">
          Pensez à remplir toutes les informations quand vous serez sur le site de la CAF.
          En attendant, vous pouvez confirmer.
      </p>
    </div>
  </div>
</div>
<!-- Footer -->
<div class="footer" style="background-image: url(https://res.cloudinary.com/dzqqjrcor/image/upload/v1701857218/Apprenticlic/img-footer_rqnt7x.png);">
  <div class="footer-content">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      <p>&copy; 2023 Cours informatique en ligne</p>
    </div>
  </div>
