<div class="container" style="margin-top: 7em;">

  <div class="container">
    <div class="row">
        <h1 class="title-caf text-uppercase">MES RESSOURCES</h1>
          <p class="explanations mt-3">Selon les ressources que vous allez déclarer, la procédure
            sera différente. Ici nous renseignerons celles des ressources trimestrielles. <br>
            <em>Appuyer sur "Déclarer" pour continuer</em>
          </p>
        <div class="container encadre w-100">
          <h3 class="text-uppercase underline">CONSULTER OU DECLARER</h3>
          <div class="row">
              <div class="justify-content-center row">
                <div class="underline p-3">
                  <h4>Mes ressources annuelles</h4>
                </div>
                <div class="underline d-flex p-3">
                    <h4 class="text-left">Mes ressources trimestrielles Rsa et Prime d'activité</h4>
                  <div class="col-sm-6 d-flex justify-content-between align-items-center">
                    <div class="text-start" style="margin-left: 40%">
                      <button type="button" class="btn-caf-secondary">Consulter</button>
                    </div>
                    <div class="text-end">
                      <div data-controller="click-on-button">
                        <div class="click">
                          <p data-click-on-button-target="clickableElement" class="modal-redirect d-none">Vous allez être dirigés vers les informations détaillées de votre profil</p>
                        </div>
                        <button type="button" class="btn-caf"><%= link_to "Déclarer",  faux_site_mes_ressources_mon_profil_path, class:'btn-caf', data:{action:'mouseenter->click-on-button#show mouseleave->click-on-button#hide'} %></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="p-3 underline">
                  <h4>Mes ressources Aide au logement</h4>
                </div>
                <div class="col-sm-6 hidden-xs">
                  <div class="text-right">
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
