<h1>MES RESSOURCES</h1>
<h3>CONSULTER OU DECLARER</h3>

<h4>Mes ressources annuelles</h4>
<h4>Mes ressources trimestrielles RSA et Prime d'activité</h4>
<%= link_to "Déclarer",  faux_site_mes_ressources_mon_profil_path %>
<h4>Mes ressources aides au logement</h4>
