<div class="container" style="margin-top: 7em;">
  <h1><strong>Bienvenue sur notre <em>faux-site</em> de la CAF</strong></h1>
  <h2 class="mb-3">Il s'agit d'une simple réplique partielle du site de la CAF</h2>
  <p class="text-agrand">Ce site vour servira à vous entrainer sur le parcours d'une déclaration. Vous
   serez guidés pas à pas dans vos démarches par <span class="underline-thin" style="color: #FCA601;">nos commentaires affichés
   en orange</span> d'une part. Les parties de la CAF reproduites en <span class="caf-underline" style="color: #0093c4;">bleues </span> et blanc d'autre part.
  </p>
</div>

<div class="container">
  <h3 class="title">Prêt à commencer vos démarches?</h3>
  <%= link_to "Commencer les démarches >>", faux_site_mes_ressources_path, class: 'btn btn-success' %>
</div>
<!-- Footer -->
<div class="footer" style="background-image: url(https://res.cloudinary.com/dzqqjrcor/image/upload/v1701857218/Apprenticlic/img-footer_rqnt7x.png);">
  <div class="footer-content">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      <p>&copy; 2023 Cours informatique en ligne</p>
    </div>
  </div>
