<div class="container" style="margin-top: 7em;">
  <h1><strong>Bienvenue sur notre <em>faux-site</em> de la CAF</strong></h1>
  <p class="text-agrand">Ce site vour servira à vous entrainer sur le parcours d'une déclaration. Vous
   serez guidés pas à pas dans vos démarches par nos commentaires <span class="underline-thin" style="color: #FCA601;"> affichés
   en orange</span> d'une part. Les parties de la CAF reproduites en <span class="caf-underline" style="color: #0093c4;">bleues </span> et blanc d'autre part.
  </p>
</div>

<div class="container" style="margin-bottom: 7em;">
  <%= link_to "Commencer les démarches >>", faux_site_mes_ressources_path, class: 'btn btn-success' %>
</div>
