<h1>Bienvenue sur la réplique du site de la CAF</h1>
<h2>Il s'agit pour vous entraîner pour vos démarches dans la CAF</h2>
<p>Ne vous inquiétez pas toute mauvaise action n'a aucune conséquence. Vous
  serez guidés pas à pas dans vos démarches par nos commentaires affichés
  en rose corail d'une part. Les couleurs de la CAF sont bleu et blanc d'autre
  part.</p>
