<div class="container">
  <h1 class="mt-5">Bienvenue sur la réplique du site de la CAF</h1>
  <h2 class="mb-5"><strong>Ce faux-site est une simple réplique d'une partie du site de la CAF</strong></h2>
  <p>Vous allez être invités à remplir votre déclaration de revenus tout en étant guidé.
    Ne vous inquiétez pas toute mauvaise action n'a aucune conséquence. Vous
   serez guidés pas à pas dans vos démarches par nos commentaires affichés
   en rose corail d'une part. Les couleurs de la CAF sont bleu et blanc d'autre
   part.
  </p>
</div>

<div class="container">
  <h6>Prêt à commencer vos démarches?</h6>
  <%= link_to "Commencer les démarches", faux_site_mes_ressources_path, class: 'btn-one' %>
</div>
