<h1>Bienvenu sur votre profil !</h1>


<p>Vous suivez actuellement <%= current_user.courses.count %> cours : </p>
<p>dont débutant</p>
<p>dont intermédiaire</p>
<p>dont confirmé</p>

<p>Et vous en avez terminé : <%= @completed_courses %> </p>
