<!-- Section bannière -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1501504905252-473c47e087f8?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>ApprentiClic vous aide à devenir <strong>autonome</strong> avec des outils numériques</h1>
    <p>Entraînez-vous en toute tranquillité avec nos cours adapté à tout niveau</p>
    <a href="<%= courses_path %>" class="btn btn-success">Consulter les cours</a>

  </div>
</div>

<div class="container">

<!-- Section description Apprenticlic -->
<section class="company-description">
    <div class="container">
      <h4>
        <em>ApprentiClic a à coeur d'aider les personnes en difficulté numériquement, c'est pourquoi nous proposons une large
        gamme de cour en ligne très simple d'utilisation avec des exercices intéractifs pour vous entraîner.</em>
      </h4>
    </div>
</section>

<!-- Section Pourquoi choisir Apprenticlic -->
<section class="company-subject">
    <div class="container">
      <h3>Pourquoi choisir ApprentiClic ?</h3>
      <h4>
        <em>Avec ApprentiClic, n'ayez plus peur de faire de fausses manipulations qui pourraient avoir de graves conséquences.</em>
      </h4>
      <h4>
        <em>Avec ApprentiClic, les cours sont gratuits.</em>
      </h4>
      <h4>
        <em>Choisissez le cour qui vous convient grâce à des cours adaptés à tous les niveaux.</em>
      </h4>
    </div>
</section>

<!-- Section Qu'en disent nos utilisateurs -->
<section class="users-reviews">
    <div class="container">
      <h3>Avis de nos apprentis</h3>
        <div class="quote">“</div>
          <p class="review-text">C'est formidable que ce site existe ! Je me sens tellement plus à l'aise sur mon ordinateur - <strong>Laura P.</strong></p>
        <div class="quote">“</div>
          <p class="review-text">Super idée ces cours, j'ai trouvé le cour parfait - <strong>Pierre E.</strong></p>
        <div class="quote">“</div>
          <p class="review-text">Les cours que j'ai fait ont été très clairs et m'ont beaucoup aider dans ma vie quotidienne - <strong>Alexis D.</strong></p>
    </div>
</section>

<!-- Section des cards des cours les plus consultés -->
  <section class="card-section">
    <div class="container">
      <div class="card-product my-3">
        <img src="https://i.ytimg.com/vi/m-mHz6uVxpY/maxresdefault.jpg" alt="Card 1">
        <div class="card-content">
          <h4>Apprendre à manipuler la souris : tout ce qu’il faut savoir!</h4>
          <p>Mis à jour le 30/11/2023</p>
          <p>Savoir manipuler la souris est une chose essentielle pour pouvoir communiquer avec son ordinateur.</p>
          <p>Catégorie : Souris</p>
          <a href="#" class="button">Plus de détails</a>
        </div>
      </div>

      <div class="card-product my-3">
        <%# <div style='background: url(https://res.cloudinary.com/dzqqjrcor/image/upload/v1701424352/Apprenticlic/comment-faire-un-copier-coller-avec-le-clavier-1160x653_b1utm2.jpg)'></div> %>
        <img src="https://res.cloudinary.com/dzqqjrcor/image/upload/v1701424352/Apprenticlic/comment-faire-un-copier-coller-avec-le-clavier-1160x653_b1utm2.jpg" alt="Card 1">
        <div class="card-content">
          <h4>Copier/coller</h4>
          <p>Mis à jour le 15/11/2023</p>
          <p>Apprenez à utiliser les combinaisons de touches pour faire des copier/coller</p>
          <p>Catégorie : Clavier</p>
          <a href="/cours/124/recap" class="button">Plus de détails</a>
        </div>
      </div>

      <div class="card-product my-3">
        <img src="https://cours-informatique-gratuit.fr/wp-content/uploads/2014/05/glisser-deposer.png" alt="Card 1">
        <div class="card-content">
          <h4>Glissé-déposé</h4>
          <p>Mis à jour le 28/10/2023</p>
          <p>Apprenez à déplacer un fichier pour le ranger à un autre endroit sur votre ordinateur rien qu'avec votre souris</p>
          <p>Catégorie : Navigation</p>
          <a href="#" class="button">Plus de détails</a>
        </div>
      </div>
  </section>

<!-- Section des cards des faux-sites -->
  <section class="card-section">
    <div class="container">
    <h3>Mes premiers pas</h3>
      <div class="card-product my-3">
        <img src="https://cdn.paris.fr/paris/2020/11/16/huge-afb361602bc8fa94c493b84e325ad9f5.jpg" alt="Card 1">
        <div class="card-content">
          <h4>Entraînez-vous sur la réplique du site de la CAF</h4>
          <p>Mis à jour le 30/11/2023</p>
          <p>Apprenez à déclarer vos ressources facilement avec notre entraînement gratuit</p>
          <a href="#" class="button">Plus de détails</a>
        </div>
      </div>

      <div class="card-product my-3">
        <img src="https://www.impots.gouv.fr/sites/default/files/2023-10/bloc_impots_gouv.svg" alt="Card 1">
        <div class="card-content">
          <h4>Entraînez-vous sur la réplique du site des impôts</h4>
          <p>Mis à jour le 30/11/2023</p>
          <p>Apprenez à faire vos déclarations facilement avec notre entraînement gratuit</p>
          <a href="#" class="button">Plus de détails</a>
        </div>
      </div>
    </div>
</div>

<!-- Footer -->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>&copy; 2023 Cours informatique en ligne</p>
  </div>
</div>
