
.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  margin: 0 auto; /* Centrer la bannière horizontalement */
}

.banner h4 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
}

.banner p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
