.card-product {
  overflow: hidden;
  height: 150px;
  background: $pink;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
}

.card-product img {
  width: 25%;
  object-fit: cover;
}

.card-product .card-product-infos {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  font-size: 20px;
}

.card-product .card-product-infos p {
  margin-bottom: 8px; /* Ajustez cet espace à votre convenance */
  margin-top: -5px;
}

.card-product .card-product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(245, 202, 195, 0.5);
}

.card-product .card-product-infos .button {
  font-size: 20px;
  align-self: flex-end;
  /* Ajoutez d'autres styles si nécessaire */
}

.card-product .card-product-footer p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .6;
  /* Ajoutez d'autres styles si nécessaire */
}

.card-product .card-product-infos .reduced-font-size-and-margin {
  font-size: 14px; /* Réglez la taille de la police selon vos préférences */
  margin-top: -5px;
}


.card-profile {
  background-color: whitesmoke;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);

}
