.container {
  width: 80%; /* Largeur souhaitée du container */
  margin: 0 auto; /* Margin auto pour centrer le container horizontalement */
  padding-top: 20px;
  padding-bottom: 20px;

  .title-decoration {
    border-bottom: 4px solid $orange;
    width: fit-content;
  }
}
