.navbar-lewagon {
  justify-content: space-between;
  .title-left {
    color: $white;
  }
  .title-right {
    color: $orange;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  width: 210px;

}

.navbar-lewagon .navbar-brand {
  width: 210px;
  img {
      width: 50px;
      border-radius: 5px;
  }
}

.navbar-lewagon h1 {
  justify-content: space-between;
  width: 210px;
}


.navbar-lewagon .nav-link{
  mix-blend-mode: normal;
  text-decoration: underline 1px solid $orange;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.background-trans {
  // background: transparent;
}

.background-white {
  background: white;
}

.background-purple {
  background: linear-gradient(180deg, rgba(75, 68, 212, 0.6) 8.85%, #4B44D4 100%);
}

