.navbar-lewagon {
  justify-content: space-between;
  background: white;
  .title-left {
    color: $purple;
  }
  .title-right {
    color: $orange;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  border-radius: 5px;
}

.navbar-lewagon h1 {
  justify-content: space-between;
}

.navbar-lewagon .nav-link{
  margin-right: 10px;
  border-bottom: 2px solid $orange;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
}

.background-trans {
  background: transparent;
}

.background-white {
  background: white;
}
