.form-select {
  border: none;
  border-left: 1px solid $orange;
  background: none;
  border-radius: 0;
  background-color: white;

  option {
    text-align: left;
  }
}

#form-control-index {
  border-radius: 5px;
  border: none;
  background: none;
  text-align: left;
}

.form-holder {
  border-radius: 50px;
  border: 1px solid $orange;
}

.form-control {
  background-color: whitesmoke;
}

.form-button {
  border-radius: 50%;
  background-color: $orange;
}
