.form-select {
  border: none;
  border-left: 1px solid $orange;
  background: none;
  border-radius: 0;
  color: white;
  font-size: 20px;
  option {
    text-align: left;
    background-color: $purple;
  }
}

#form-control-index {
  border-radius: 5px;
  border: none;
  background: none;
  text-align: left;
  color: $white;
  font-size: 20px;

}

.form-holder {
  border-radius: 50px;
  border: 1px solid $orange;
}

.form-control {
  background-color: whitesmoke;
}

.form-button {
  border-radius: 50%;
  background-color: $orange;
}

input::placeholder {
  color: $white !important;
}
