.form-select {
  border: none;
  border-left: 1px solid $gray;
  background: none;
}

.form-control {
  border-radius: 5px;
  border: none;
  background: none;
}

.form-holder {
  border-radius: 50px;
  border: 1px solid $red;
}

.form-button {
  border-radius: 50%;
  background-color: $yellow;
}
